/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
}
nav a:hover {
  color: #b2d2e3;
  font-weight: 700;
}
nav a.active {
  color: #b2d2e3;
}

.main-logo {
  width: 5rem;
}
